*{
  color:black;
}
.array-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.ArrayBars{
  display: flex;
  width:800px;
  height:80vh;
  /* align-items: center; */
  justify-content: center;
  background-color: black;
  overflow: scroll;

}
.array-bar {
  width: 5px;
  display: inline-block;
  margin: 0 1px;
  border-radius: 1px;
}
button{
  padding:20px;
    border-radius: 20px;
    border:0px;
    outline: none;
    background-color:blue;
    color:white;
    font-weight:bold;
    font-size:20px;
}
button{
  cursor: pointer;
  transform: scale(0.98); 
  box-shadow:2px 2px 2px 2px #000000;
}
.new_array{
  background:linear-gradient(270.72deg, #180255 0.25%, #000000 97.54%);;
}